.cover{
    border: 3px solid red;
    margin: 150px;
    height: 200px;
    width: 200px;
    
    
}

.content{
    height: 200px;
    width: 200px;
    background-color: yellowgreen;
    /* transform: perspective(200px) translate3d(0,50px,0px);  */
    transform: perspective(100px) rotate3d(0,10,0,20deg); 

}